@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.layout {
    display: grid;
    height: 100%;
    max-height: 100%;
    width: 100%;
    grid-template-areas:
        "aside main main"
        "aside main main";
    grid-template-columns: 280px 1fr 1fr;
    grid-template-rows: 100px 1fr;
}